/* inter-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/inter-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/inter-v13-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-tight-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter Tight';
  font-style: italic;
  font-weight: 600;
  src: url('./fonts/inter-tight-v7-latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  *, *::before, *::after {
    box-sizing: inherit;
  }
  body {
    background-color: #E1D4C9;
    margin: 0;
  }
  .header {
    margin: 20px 0px;
  }
  .container {
    max-width: 1360px;
    margin: 0 auto;
  }
  .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .burger {
  display: none;
  width: 44px;
  height: 44px;
  border-radius: 100px;
  border: 1px solid #665F55;
  padding-top: 8px;
  padding-left: 3px;
}
.burger__line {
  width: 16px;
  height: 1.5px;
  background-color:  #403F3D;
  margin: 8px;
}
   .header__nav-list {
    display: flex;
  }
  .header__item {
    list-style-type: none;
  }
  .header__item:last-child {
    margin-right: 0px;
  }
  .header__link {
    text-decoration: none;
    margin-right: 40px;
    color: #403F3D;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
  }
  .menu-link {
    text-decoration: none;
    color: #403F3D;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
    margin-right: 8px;
  }
  .menu {
    padding-top: 14px;
  }
  .menu a {
    margin-top: 3px;
  }
  .hero__content {
    max-width: 530px;
  }
  .h1 {
    color: #E1D4C9;
    font-family: 'Inter';
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: 105%; 
  }
  .h1 span {
    color: #B0907A;
    font-family: 'Inter';
    font-size: 72px;
    font-style: italic;
    font-weight: 600;
    line-height: 105%; /* 75.6px */
  }
  .hero__img {
    background-image: url(./img/img-hero.jpg);
    border-radius: 40px;
    padding: 100px;
  }
  h1 {
    margin: 0;
  }
  .hero__text {
    margin: 40px 0px;
    color: #E1D4C9;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
  }
  .button {
    border-radius: 40px;
    width: 200px;
    padding: 20px 78px;
    background: #E1D4C9;
    border: none;
  }
  .button a {
    color: #403F3D;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
    text-decoration: none;
  }
  /*section favorite-coffee*/
  .favorite-coffee {
    padding-top: 100px;
  }
  .h2 {
    text-align: center;
    color:  #403F3D;
    font-family: 'Inter'; 
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 75px */
    margin: 0;
  }
  .h2 span {
    font-style: italic;
    color: #B0907A;
  }
  .slider {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
  }
  .slider__button {
    border-radius: 100px;
    border: 1px solid #665F55;
    background-color: #E1D4C9;
    width: 60px;
    height: 60px;
    margin-top: 290px;
    margin-left: 3px;
    margin-right: 3px;
  }
  .slider__content {
    max-width: 480px;
  }
  .slider__tittle {
    color: #403F3D;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 30px */
    margin: 18px 0px 16px;
    text-align: center;
  }
  .slider__text {
    color: #403F3D;
    text-align: center;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
  }
  .slider__price {
    color: #403F3D;
    text-align: center;
    font-family: 'Inter' ;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 30px */
    margin: 0;
  }
  .controls {
    display: flex;
    justify-content: center;
    padding: 40px 0px;
    margin-left: 12px;
  }
  .controls div {
    width: 40px;
    height: 4px;
    border-radius: 100px;
    background: #C1B6AD;
    margin-right: 12px;
  }
  .controls div:first-child {
    background: #665F55;
  }
  /*section about*/
  .img-none {
    display: none;
  }
  .about h2 {
    color: #403F3D;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 75px */
    align-self: stretch;
    margin-top: 60px;
    margin-bottom: 40px;
  }
  .about span {
    color: #B0907A;
    font-style: italic;
  }
  .about__content {
    display: flex;
    justify-content: space-between;
  }
  .about__content div {
    display: flex;
    flex-wrap: wrap;
  }
  .about__image {
    
    margin-bottom: 40px;
  }
  .about__image img {
    border-radius: 20px;
  }
  .about__right {
    margin-left: 40px;
  }
  .about {
    margin-bottom: 60px;
  }

   /*mobile-app section*/
    .mobile-app {
      margin-bottom: 100px;
    }
  .mobile-app__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .mobile-app__text {
    max-width: 630px;
    margin-top: 144px;
  }
  .mobile-app__text h2 {
    text-align: left;
    margin: 0px;
  }
  .mobile-app__p {
    color: #403F3D;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    margin: 40px 0px;
  }
  .mobile-app__button {
    display: flex;
    width: 200px;
    height: 64px;
    padding: 10px 20px;
    border-radius: 100px;
    border: 1px solid #665F55;
    background-color: #E1D4C9;
    margin-right: 20px;
  }
  .mobile-app__container {
    display: flex;
  }
  .mobile-app__button span {
color: #403F3D;
font-family: 'Inter';
font-size: 10px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 14px */
  }
  .mobile-app__button p{
    margin: 0px 0px 10px 8px;
    color: #403F3D;
font-family: 'Inter';
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 14px */
  }
  /*footer*/
  .footer__content {
    max-width: 530px;
    margin-right: 100px;
  }
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    background-color: #665F55;
    border-radius: 40px;
    padding: 100px;
  } 
    .footer__content h2 {
    margin: 0px 0px 40px;
    color: #E1D4C9;
    font-family: 'Inter';
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 75px */
  }
  .footer__content span {
    font-style: italic;
    color: #B0907A;
  }
  .social {
    display: flex;
  }
  .social__button {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 1px solid #C1B6AD;
    margin-right: 12px;
    padding: 18px;
  }
  .contant-us h3 {
    color: #E1D4C9;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 30px */
    margin-top: 32px;
    margin-bottom: 40px;
  }
  .contant-us p {
    color:  #E1D4C9;
font-family: 'Inter';
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 24px */
}
.contant-us img {
  margin-right: 8px;
}
